﻿@{
    ViewData["Title"] = "Galeria";
}

<div class="container mt-5">
    <div class="row">

        <div class="col-md-6 mt-5">
            <h1 class="display-2">
                <b>
                    Miejsca i hotele
                    egzotyczne za
                    granicą
                </b>
            </h1>
            <h4>
                Miejsca takie jak Zanzibar, Indonezja czy Tajlandia!
            </h4>

        </div>
        <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/zATX3Y3.jpg"/></div>
    </div>
    <div class="row">
 <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/0TMwPcN.jpg" /></div>
        <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/ZVI18Ty.jpg" /></div>
    </div>
    <div class="row">
                <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/9d15swO.jpg" /></div>
        <div class="col-md-6 mt-5">
            <h1 class="display-2">
                <b>
                    Duże, piękne miasta,
                    które swoim urokiem
                    bardzo cię zaskoczą
                </b>
            </h1>
            <h4>
                Nowy York, Dubai, Warszawa i inne takie miejsca tylko u nas!
            </h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/pRRmCQG.jpg" /></div>
        <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/jGxYnOu.jpg" /></div>
    </div>
    <div class="row">

        <div class="col-md-6 mt-5">
            <h1 class="display-2">
                <b>
                    Miejsca i hotele
                    egzotyczne za
                    granicą
                </b>
            </h1>
            <h4>
                Miejsca takie jak Zanzibar, Indonezja czy Tajlandia!
            </h4>

        </div>
        <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/LDAYw95.jpg" /></div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/Xl2Bzqt.jpg" /></div>
        <div class="col-md-6 mt-5"><img class="img-fluid" src="https://i.imgur.com/ZJQm9WS.jpg" /></div>
    </div>

</div>
