﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/ZTBL0vk.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MJM Holidays - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-body">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://s3-alpha-sig.figma.com/img/8061/a38b/efae0f0d30a21df520e3ec19ce1b6425?Expires=1673827200&Signature=p~DzMj4FPtNtdELIqkasEhuXtcn5S~O1xbUu3ldyBJXofg1TXsLoUXTTVYoNOxd2kuOENBGERp2VFYwpnIsAqY-8KmpUlKp1ayWH2Ltkb3UfY-r3xt5BfqRNiXR4dHjvwAiimzDznHtLdBzmcgzddWpCDnOMNC5EJIuTiQ9K7TLN9d6gpG2eJxP-Z-033ZgsGx4eAlXJJmmG2b1LQ9bapGo-U31wy6fgSViWXiP79pNGJoZ5zjicMB5sNErcjFIM00BO3cHBJu7jJ9rraKWhduP37KKLBiw~gRiAulKQTAiCHU7HAjEuSth9mlr9YaHl2Y2r~8hfkGb8NSsZ2eA7iQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4 " class="img img-fluid logo" width="80px" alt= "MJM Holidays" /> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Index"><b>Strona główna</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Offers" asp-action="Index">Oferta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Galeria</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="mt-5 p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                            <img src="https://s3-alpha-sig.figma.com/img/8061/a38b/efae0f0d30a21df520e3ec19ce1b6425?Expires=1673827200&Signature=p~DzMj4FPtNtdELIqkasEhuXtcn5S~O1xbUu3ldyBJXofg1TXsLoUXTTVYoNOxd2kuOENBGERp2VFYwpnIsAqY-8KmpUlKp1ayWH2Ltkb3UfY-r3xt5BfqRNiXR4dHjvwAiimzDznHtLdBzmcgzddWpCDnOMNC5EJIuTiQ9K7TLN9d6gpG2eJxP-Z-033ZgsGx4eAlXJJmmG2b1LQ9bapGo-U31wy6fgSViWXiP79pNGJoZ5zjicMB5sNErcjFIM00BO3cHBJu7jJ9rraKWhduP37KKLBiw~gRiAulKQTAiCHU7HAjEuSth9mlr9YaHl2Y2r~8hfkGb8NSsZ2eA7iQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4 " class="img img-fluid logo" width="150px" alt= "MJM Holidays" />
                </div>
                <div class="col-md-6 text-left d-table">
                    <span class="d-table-cell align-middle">Jesteś ostatnio przemęczony i nie możesz się skupić na pracy, a aura za oknem sprawia, że najchętniej przez cały dzień nie wychodziłbyś spod kołdry? Sprawdź jaką ofertę przygotowało nasze biuro podróży!</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
