﻿@model IEnumerable<WebApplication2.Models.Offer>
@using ASPNetCoreIdentityCustomFields.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Oferty";
}
@if (User.Identity.Name == "Admin@admin.pl")
{
    <a asp-controller="Offers" asp-action="Create">Dodaj ofertę wakacji</a>
}
        <div class="container mt-5 text-center">
    <h1 class="display-2"><b>Aktualne oferty wakacji</b></h1>
    <h3>Zarezerwuj najlepsze wakacje swojego życia z MJM Holidays</h3>
@foreach (var item in Model) {
    <div class="row">
        <div class="col-md-12 row offer mt-5">

            <div class="offer-left col-4">
                    <img src="@Html.DisplayFor(modelItem => item.Img_url)" class="img-fluid w-100">
            </div>

            <div class="offer-right col-8">
                <div class="offer-title">
                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                </div>
                <div class="offer-description">
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <div class="offer-footer text-center mt-5">
                    @if (SignInManager.IsSignedIn(User))
                            {
                                @using (Html.BeginForm("create", "Reservations", FormMethod.Post))
                                {
                                    <input type="hidden" name="offer_id" value="@Html.DisplayFor(modelItem => item.ID)">
                                    <input type="hidden" name="User_id" value="@UserManager.GetUserId(User)">
                                    <input type="date" name="date" required/>
                                    <button class="btn-lg btn-outline-success">Zarerezerwuj za @Html.DisplayFor(modelItem => item.Price) zł</button>
                                }
                            } else
                            {
                                <button class="btn-lg btn-outline-success">Zaloguj się aby zarezerwować! za @Html.DisplayFor(modelItem => item.Price) zł</button>
                            }
                            @if (User.Identity.Name == "Admin@admin.pl")
                            {
                                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a>
                                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
                            }
                        </div>
                </div>
            </div>
                

        </div>


    </div>
}
        </div>
