﻿@using ASPNetCoreIdentityCustomFields.Data;
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Twój profil</a></li>
    <li class="nav-item"><a class="nav-link" asp-controller="Reservations" asp-action="Index">Twoje rezerwacje</a></li>
</ul>
