﻿@model WebApplication2.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Rezerwacji</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
