﻿@model IEnumerable<WebApplication2.Models.Offer>

@{
    ViewData["Title"] = "Index";

}

<div class="container mt-5 text-center">
    <h1 class="display-2"><b>Twoje rezerwacje z MJM Holidays</b></h1>
    <h4>Teraz wystarczy tylko poczekać na wylot!</h4>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12 row offer mt-5">

                <div class="offer-left col-4">
                    <img src="@Html.DisplayFor(modelItem => item.Img_url)" class="img-fluid w-100">
                </div>

                <div class="offer-right col-8">
                    <div class="offer-title">
                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    </div>
                    <div class="offer-description">
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <div class="offer-footer text-center mt-5">
                                <button class="btn-lg btn-outline-success">Zarezerwowano!</button>

                        </div>
                    </div>
                </div>


            </div>


        </div>
    }
</div>
