﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
        <div class="row">

            <div class="col-md-6 mt-5 py-4">
                <h1 class="display-2"><b>Dlaczego warto
                    podróżować
                        z MJM Holidays?
                    </b>
                </h1>
                <h4>Nasze biuro podróży jest numerem 1 w Polsce, 
    potwierdzają to opinie klientów!</h4>

            </div>
            <div class="col-md-6"><img class="img-fluid" src="https://s3-alpha-sig.figma.com/img/ddac/0e4d/dc45669e9e2b98443487231daa83c98f?Expires=1673827200&Signature=f2qSERC7~sbeLlpmQtOl0ozMj8TA3a~TrkYfWwWYEDSBtPOjGVAlZQDc0j-Wyd1KW50i068GQSZ4t3Ma1bTnci-PVkGXNT7lz7jtd2O-fXpbnd0dCDMIf6hj2tUwNEbj5M7gRsdL~T5EACfn5b8G7jtfkiB1fWDVo4OLi0diHbojN1w5OSbP51TjfWzWIYTCJH~m7Vk7gX8YNqmmYC8Asm4bWFv-mjyaxNN~GhVK~bDQqaV-KGT4KWelbE8oNJeTMCPH94Kd9ScPluzm7OARugq-LLT7dt~B0sH8SdJj7K68UMo-tJy~f7Ss1YD089YETybsaA8nOzuTX5daFkoWvA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"/></div>
        </div>
    </div>
<div class="container mt-5 p-4" id="how_it_works">
    <div class="row">
            <div class="col-md-12 text-center mb-5">
                <h1>Jak to działa?</h1>
            </div>
        <div class="col-md-4 text-center">
            <div><img src="https://i.imgur.com/4hOQmJr.png"></div>
            <div><h2>Logowanie</h2></div>
            <div>Aby zarezerwować swoją podróż
należy się zalogować na stronie
po wcześniejszej rejestracji.</div>
        </div>
        <div class="col-md-4 text-center">
                <div><img src="https://i.imgur.com/Ym8YZ00.png"></div>
            <div><h2>Rezerwacja</h2></div>
            <div>
                Aby zarezerwować swoją podróż
                należy się zalogować na stronie
                po wcześniejszej rejestracji.
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div><img src="https://i.imgur.com/BZiNnYJ.png"></div>
            <div><h2>Podróź</h2></div>
            <div>Aby zarezerwować swoją podróż
należy się zalogować na stronie
po wcześniejszej rejestracji.</div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="opinion p-3 my-2">
                Jestem zadowolony z obsługi biura podróży MJM Holidays, szybko, sprawnie, co najważniejsze tanio! I ta ich strona internetowa, prosta, przejrzysta i łatwo zarezerwować swój pobyt! ~ <b>Jakub M.</b> <span class="text-success">5/5</span>
            </div>
            <div class="opinion p-3 my-2">
                To co oferuje to biuro podróży jest najlepsze w życiu, podróże do USA, zwiedziłem z rodziną Ohio, jesteśmy teraz lepszymi ludźmi, kocham MJM Holidays, następne do zwiedzenia Chiny ~ <b>Mikołaj B.</b> <span class="text-success">5/5</span>
            </div>
            <div class="opinion p-3 my-2">
                Czy MJM Holidays to najlepsze biuro podróży? Zdecydowanie tak, kocham całą ekipę, byłam już na kilku wycieczkach i na 100% do końca życia tylko z nimi! Na pierwszym miejscu polecam Wildę, na drugim Dubai. ~ <b>Klaudia K.</b> <span class="text-success">5/5</span>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="display-2">
                <b>
                    Najnowsze wpisy
                    naszych klientów
                    po wakacjach!
                </b>
            </h1>
            <h4>Wszystkie opinie są pozytywne, co potwierdza,
            że jesteśmy numerem 1 w Polsce!</h4>
        </div>
    </div>
</div>
