html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-body {
    background-color: #FFF8D6 !important;
    max-height: 80px;
}
#how_it_works {
    background-color: #DDDFF2;
}
.opinion {
    background-color: #B6B6B6;
}
footer {
    background-color: #FFF8D6 !important;
    border-top: 5px solid #DDDFF2;
}
.offer {
    border: 1px solid #DDDFF2;
}